body {
  background-color: rgb(133, 255, 129);
}

.rainbow-text {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  color: transparent;
}

h1 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#connected-gnome {
  color: green
}
#disconnected-gnome {
  color: red
}


.Spinning-gnome {
  width: "20px";
  pointer-events: none;
  margin:5%;
}

@media (prefers-reduced-motion: no-preference) {
  .Spinning-gnome {
    animation: App-logo-spin infinite 10s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
